* {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  font-family: 'Ranchers', cursive;
  font-size: 60px;
  margin: 77px 0 21px 35%;
}

.gif {
  display: inline-block;
  width: 120px;

}

section {
  font-family: 'Quicksand', sans-serif;
  margin: 42px 300px 25% 300px;

}

.tab-js {
  box-sizing: border-box;
  border: 1px solid green;
  border-radius: 14px 7px 0 0;
  padding: 14px 21px;
}

.container {
  outline: 1px solid grey;
  box-sizing: border-box;
  margin: 18px 0;
  padding: 14px;
}